h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2,h3{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body{
    margin: 2em;
}
body, input[text], button{
    color: #888;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}