<div *ngIf="hero">

  <h2>{{ hero.name | uppercase }} Details</h2>
  <div></div>
  <div>
      <span>id: </span>{{hero.id}}
    <label>Name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
    <label>Type:
      <input [(ngModel)]="hero.type" placeholder="type"/>
    </label>
  </div>

</div>